body{background-color: #312f36;}


.kosar{

background-color: #293040;
color:#c9ac8a;



}

.kosarimg{

border:1px solid #c9ac8a;
padding: 5px;
margin-right: 10px;

}

.ossz{background-color: red;}

#fizetes{background-color: #ffa500;
color: black;}