body {
    background-color: #d6d5d5;
    font-family: Arial, sans-serif;
}

.hello {
    width: 300px;
    height: auto;
    background-color: white;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.Login {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: -22px;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: black;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.Login, .hello {
    width: 90%;
    max-width: 500px;
}

.footer_section a{text-decoration: none;}